In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

print(os.getcwd())

/Users/buldiga/Documents/ml/book-recsys/notebooks

In [12]:
df = pd.read_csv('../large_files/interactions.csv')
users = pd.read_csv('../large_files/users.csv')

In [7]:
df["start_date"] = pd.to_datetime(df["start_date"])
min_date = df["start_date"].max().normalize() - pd.DateOffset(days=30)

In [9]:
rec = (
            df.loc[df["start_date"] > min_date, "item_id"]
            .value_counts()
            .head(100)
            .index.values)

In [13]:
users

        user_id     age  sex
0             0   45_54  1.0
1             1   25_34  0.0
2             2   45_54  0.0
3             3  65_inf  0.0
4             4   18_24  0.0
...         ...     ...  ...
137249   166060   25_34  0.0
137250   166061   35_44  1.0
137251   166062   45_54  1.0
137252   166065   25_34  0.0
137253   166066   45_54  0.0

[137254 rows x 3 columns]

In [29]:
merged = df.merge(users, on='user_id').head(10)

In [19]:
df[df['progress'] < 50].shape, df[df['progress'] > 50].shape

((826154, 5), (727426, 5))

In [21]:
submission = pd.read_csv("../large_files/sample_submission.csv")
pred_pop = pd.DataFrame({"user_id": submission["Id"].unique()})

In [24]:
user_ids_pred = set(list(pred_pop['user_id']))

In [25]:
user_ids = set(list(users['user_id']))

In [28]:
len(user_ids_pred.difference(user_ids)), len(user_ids_pred.intersection(user_ids))

(547, 2527)

In [37]:
usr = pred_pop.merge(users, how='left', on='user_id').fillna(1.0)

In [43]:
for index, row in usr.iterrows():
    print(row)
    if row['sex'] == 0.0:
        print('woman')
    break

user_id    10001
age        25_34
sex          0.0
Name: 0, dtype: object
woman